<!DOCTYPE html>
<html>

<head>
    <title>CanZone About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/About.css">
    <link rel=" stylesheet" href="../static/NavBar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body class="HomeMain">
    <div class="NavBar">
        <div class="CanZoneText hoverLinkAnimation"><a href="HomePage.html" target="_self">CanZone</a></div>
        <div class="hoverLinkAnimation" id="SearchText">
            <a href="SearchPage.html" target="_self">Search</a>
        </div>
        <div class="hoverLinkAnimation" id="PlaylistText">
            <a href="PlayList.html" target="_self">Playlist</a>
        </div>
        <div class="hoverLinkAnimation" id="ArtistsText"><a href="artistspage.html" target="_self">Artists</a>
        </div>
        <div class="hoverLinkAnimation" id="SpotlightArtistText"><a href="SpotLightPage.html"
                target="_self">SpotLight</a></div>
        <div class="hoverLinkAnimation" id="AboutText"><a href="About.html" target="_self">About</a>
        </div>
    </div>

    <div class="flexContainer">


        <p class="flexBox1Text3" style="margin-top: 50px;">
            Welcome to CanZone, an internet-based music database created by Team <br><strong class="D_TanX"
                style="color: rgb(131, 166, 231);font-size:70px"><i>D_TanX</i></strong>
            <br><br>
        </p>
        <div class="flexBox1">
            <h1 class="flexBox1Text1">What is CanZone ?</h1>
        </div>
        <p class="flexBox1Text3" style="bottom: 20px;padding-top: 55px;width:70%">

            The name CanZone is
            inspired by the Italian word "Canzone" which literally means "Song" in English. <br>

        </p>
        <p class="flexBox1Text3" style="bottom: 20px; width:65%;padding: top 50px;">
            <br>
            It provides the users a place where they "CAN" go into their "ZONE"!!

        </p>


        <div class="flexBox1Text5"><br>From Classical to Pop.... Rock to Jazz.... and everything in between.
            CanZone has it ALL!!</div>
    </div>



    <div class="D_TanXTeamcontainer">
        Introducing the team!!
        <div class="D_TanXTeamLogo"></div>
        <div class="flex-container">
            <div class="flex-item1">
            </div>
            <a style="text-decoration: none;" href="https://www.linkedin.com/in/daksh-shah-8214a9253" target="_self">
                <h1 id="text-container1">Daksh Shah<br>(Dx)</h1>
            </a>

            <div class="flex-item2">
            </div>
            <a style="text-decoration: none;" href="https://www.linkedin.com/in/tanish-gupta-83065b249" target="_self">
                <h1 class="text-container2">Tanish Gupta<br>(Tan)</h1>
            </a>
        </div>
    </div>

    <script src="../static/PlayList.js"></script>

</body>

<footer class="footer">
    <a style="text-decoration: none; color: greenyellow" href="About.html" target="_self">&copy; 2023 CanZone -
        D_TanX</a>
</footer>

</html>