<!DOCTYPE html>
<html>

<head>
        <title>CanZone Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="../static/HomePage.css">
        <link rel="stylesheet" href="../static/NavBar.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
</head>

<body class="HomeMain" style="font-family: arial">
        <div class="NavBar">
                <div class="CanZoneText hoverLinkAnimation"><a href="HomePage.html" target="_self">CanZone</a></div>
                <div class="hoverLinkAnimation" id="SearchText">
                        <a href="SearchPage.html" target="_self">Search</a>
                </div>
                <div class="hoverLinkAnimation" id="PlaylistText">
                        <a href="PlayList.html" target="_self">Playlist</a>
                </div>
                <div class="hoverLinkAnimation" id="ArtistsText"><a href="artistspage.html" target="_self">Artists</a>
                </div>
                <div class="hoverLinkAnimation" id="SpotlightArtistText"><a href="SpotLightPage.html"
                                target="_self">SpotLight</a></div>
                <div class="hoverLinkAnimation" id="AboutText"><a href="About.html" target="_self">About</a>
                </div>
        </div>





        <div class="containerTopArtists" style="font-family: arial">
                <img src="https://static.vecteezy.com/system/resources/previews/013/388/373/original/aesthetic-colorful-red-purple-blue-and-yellow-gradient-backdrop-illustration-perfect-for-backdrop-wallpaper-postcard-background-banner-for-your-design-vector.jpg" alt=""
                        class="TopArtistsImg">
                <h1 class="TopArtistsTitle"><a style="text-decoration: none; color: white;" href="artistspage.html"
                                target="_self">TOP
                                ARTISTS</a></h1>
                <a style="text-decoration: none; color: black;" href="justin.html" target="_self">
                        <div class="flexBox" id="A1">
                                <h1 class="flexBoxNameArtists" style="font-family: arial">Justin Bieber</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black" href="ts.html" target="_self">
                        <div class="flexBox" id="A2">
                                <h1 class="flexBoxNameArtists">Taylor Swift</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black" href="drake.html" target="_self">
                        <div class="flexBox" id="A3">
                                <h1 class="flexBoxNameArtists">Drake</h1>
                        </div>
                </a>
        </div>


        <div class="containerTopSongs">
                <img src="https://static.vecteezy.com/system/resources/previews/011/845/213/original/aesthetic-abstract-curve-striped-gradient-green-blank-frame-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg" alt="" class="TopSongsImg">
                <h1 class="TopSongsTitle"><a style="text-decoration: none; color: white;" href="#" target="_self">TOP
                                SONGS</a></h1>
                <a style="text-decoration: none; color: black;" href="#" target="_self">
                        <div class="flexBox" id="S1">
                                <h1 class="flexBoxNameSongs">STAY</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black;" href="#" target="_self">
                        <div class="flexBox" id="S2">
                                <h1 class="flexBoxNameSongs">Jalebi Baby</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black;" href="#" target="_self">
                        <div class="flexBox" id="S3">
                                <h1 class="flexBoxNameSongs">Blinding Lights</h1>
                        </div>
                </a>
        </div>


        <div class="containerTopHits">
                <img src="https://images.pexels.com/photos/14358984/pexels-photo-14358984.jpeg?cs=srgb&dl=pexels-elmira-danilova-14358984.jpg&fm=jpg" alt="" class="TopHitsImg">
                <h1 class="TopHitsTitle"><a style="text-decoration: none; color: black;" href="#" target="_self">TOP
                                ALBUMS</a></h1>
                <a style="text-decoration: none; color: black;" href="ALBjbJustice.html" target="_self">
                        <div class="flexBox" id="H1">
                                <h1 class="flexBoxNameAlbums">Justice</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black" href="ALBtsRed.html" target="_self">
                        <div class="flexBox" id="H2">
                                <h1 class="flexBoxNameAlbums">Red</h1>
                        </div>
                </a>
                <a style="text-decoration: none; color: black" href="ALBdrViews.html" target="_self">
                        <div class="flexBox" id="H3">
                                <h1 class="flexBoxNameAlbums">Views</h1>
                        </div>
                </a>
        </div>
        <script src="../static/PlayList.js"></script>
</body>

<footer class="footer">
        <a style="text-decoration: none; color: White" href="About.html" target="_self">&copy; 2023 CanZone -
                D_TanX</a>
</footer>

</html>